.container {
  width: 300px;
  // background-color: red;
  margin: 20px 2vw;
  padding: 30px;
  border-radius: 15px;
  transition: 200ms all;
  position: relative;
  cursor: pointer;
}
.container:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.img {
  width: 240px;
  height: auto;
  border-radius: 15px;
  position: relative;
}

.title {
  font-size: 25px;
  margin-top: 10px;
}

.description {
  font-size: 16px;
  margin-top: 10px;
  color: rgb(100, 100, 100);
  line-height: 20px;
  max-lines: 5;
}
