@import '../../styles/variables.scss';

.products {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  .product {
    width: calc(50% - 1rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    box-shadow: $shadow-light;
    border-radius: 1rem;

    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      .img {
        width: 4rem;
        height: 4rem;
      }
  
      .information {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
  
        .name {
          font-weight: 600;
        }

        .variant {
          font-size: 0.8rem;
          color: $text;
        }
      }
    }

    .cost {
      font-size: 1.2rem;
      font-weight: 600;
    }

    .remove {
      font-size: 2rem;
      position: relative;
      top: 0;
      right: 0;
      cursor: pointer;
      color: $primary;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
  background-color: $background;

  p {
    font-size: 1.5rem;
    font-weight: 500;
    color: $title;
  }

}