@import '../../styles/variables.scss';

.wrapper {
  p {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  .input {
    width: 100%;
    background-color: $contrast;
    border: 0;
    padding: 1rem;
    border-radius: 10px;
    font-size: 16px;

    &:focus {
      border: 0;
      outline: 2px solid $fade1;
    }

    &.disabled {
      cursor: not-allowed;
      background-color: $fade1;

      &:focus {
        border: 0;
        outline: none;
      }
    }
  }
}